.root{
    -fx-background-color: #E4D8F2;
}

#txtitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #f4f4f5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 2);
    -fx-padding: 7px 14px;
    -fx-text-alignment: center;
}

#createButton{
    -fx-background-color: linear-gradient(to bottom, #8a5cc1, #a17dcd);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-padding: 2px 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 2);
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill: #f4f4f5;
}

#btnUpload {
    -fx-background-color: linear-gradient(to bottom, #8a5cc1, #a17dcd);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 2px 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 4, 0, 0, 2);
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill: #f4f4f5;
}

.label {
    -fx-font-size: 13px;
    -fx-text-fill: Black;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: Bold;
}

#imageButton:hover, #createButton:hover, #updateButton:hover, #deleteButton:hover,
#btnSearch:hover, #btnClear:hover, #btnUpload:hover {
    -fx-background-color: linear-gradient(to right, #8a5cc1, #a17dcd);
    -fx-text-fill: White;
}

#closeButton:hover, #btntoggleEdit:hover {
    -fx-background-color: linear-gradient(to right, #e4d8f2, #9570bd);
    -fx-text-fill: White;
}

#contactButton, #updateButton, #deleteButton {
    -fx-text-fill: White;
}

.button {
    -fx-text-fill: Black;
    -fx-font-size: 12px;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: Bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

#contactButton, #updateButton, #deleteButton{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#btnBack, #btnSubmit, #btnNext {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: White;
}

#btnBack:hover, #btnSubmit:hover, #btnNext:hover {
    -fx-background-color: linear-gradient(to right, #8a5cc1, #a17dcd);
    -fx-text-fill: White;
}

#lvContacts {
    -fx-font-size: 13px;
}

#contactButton:focused {
    -fx-background-color: #b39ddb; /* Change this to the desired highlight color */
    -fx-text-fill: white; /* Optional: Change the text color */
}

.highlighted-button {
    -fx-background-color: #ffeb3b;
}

.combo-box:disabled {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
    -fx-prompt-text-fill: black;
}

.date-picker:disabled .text-field {
    -fx-opacity: 1;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #999999;
    -fx-border-color: #cccccc;
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
    -fx-prompt-text-fill: black;
}

#cbLetterFilter {
    -fx-text-fill: Black;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: Bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}